 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 487px;
}

.u-section-1 .u-text-1 {
  margin: 107px 0 0 305px;
}

.u-section-1 .u-image-1 {
  width: 186px;
  height: 250px;
  --radius: 26px;
  margin: -261px auto 60px 75px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 29px auto 0 307px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  --radius: 26px;
  margin: -36px auto 0 82px;
}

.u-section-2 .u-text-2 {
  margin: -3px auto 0 307px;
}

.u-section-2 .u-text-3 {
  margin-left: 307px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  text-decoration: underline !important;
}

.u-section-2 .u-text-4 {
  margin: 10px auto 60px 307px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 235px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 235px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 235px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 176px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 176px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 176px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 111px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 111px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 111px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 111px;
  }
}